@if (ChartKills)
{
	@foreach (var team in State.TeamList
									.OrderByDescending(t => t.Kills)
									.ToList())
	{
		<div style="background-color: @team.Color;">
			<span>@team.Name</span>
			<span>Kills: @(team.Kills)</span>
		</div>
	}
}
else
{
	@foreach (var team in State.TeamList
			.OrderByDescending(t => t.DeathTurn)
			.ThenByDescending(t =>
			State.Units.ToList().Where(u => u != null && u.Team == t.Id).Sum(u => u.Health))
			.ToList())
	{
		<div style="background-color: @team.Color;">
			<span>@team.Name</span>
			<span>Units: @(State.Units.Where(u => u != null && u.Team == team.Id).Count())</span>
		</div>
	}
}


@code {
	[Parameter]
	public required GameState State { get; set; }
	[Parameter]
	public required bool ChartKills { get; set; }



}
